/*------------------Cтудия---------------------*/
:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #e5e5e5;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-background-color);
  color: var(--title-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*--------Header---------*/

.header-logo,
.footer-logo {
  font-family: Raleway;
}

.header-list .link {
  color: var(--title-text-color);
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/*-----Hero-----*/
.hero .title {
  color: var(--primary-background-color);
}

.button {
  background-color: var(--accent-color);
}

/*--------Benefits--------*/
.benefits {
  background-color: ;
}

.benefits .title {
  color: var(--title-text-color);
}

.benefits .subtitle {
  color: var(--title-text-color);
}

.benefits-list .text {
  color: var(--primary-text-color);
}

/*--------Чем мы занимаемся--------*/

/*--------Наша команда--------*/

.team .title {
  color: var(--title-text-color);
}

.team .subtitle {
  color: var(--title-text-color);
}

.team-list .text {
  color: var(--primary-text-color);
}

/*------------Footer---------*/

.address {
  font-style: normal;
}
