/*------------------Стили Cтудия---------------------*/
:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #ffffff;
  --accent-background-color: #2f303a;
  --secondary-accent-background-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-background-color);
  color: var(--title-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*--------Header---------*/

.header {
  background-color: var(--secondary-background-color);
}

.header-logo,
.footer-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-studio {
  color: var(--title-text-color);
}

.header-list .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--accent-color);
}

/*.header-list .current {
  color: var(--accent-color);
}*/

.contacts .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/*-------------Hero-------------*/
.hero {
  background-color: var(--accent-background-color);
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-background-color);
}

.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-background-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondary-accent-color);
}

/*--------Benefits--------*/
.benefits {
  background-color: ;
}

.benefits .title {
  color: var(--title-text-color);
}

.benefits .subtitle {
  color: var(--title-text-color);
}

.benefits-list .text {
  color: var(--primary-text-color);
}

/*--------Чем мы занимаемся--------*/

/*--------Наша команда--------*/

.team .title {
  color: var(--title-text-color);
}

.team .subtitle {
  color: var(--title-text-color);
}

.team-list .text {
  color: var(--primary-text-color);
}

/*------------Footer---------*/

.address {
  font-style: normal;
}

.footer {
  background-color: var(--accent-background-color);
}
.footer-studio {
  color: var(--secondary-background-color);
}
